

/*////////////////////////NAV BAR CSS///////////////////////// */

/* Reset default margin and padding */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Styling the navbar */
.navbar {
    display: flex;
    background-color: #45354f;
    padding: 1rem;
    justify-content: center;
}

/* Styling individual buttons */
.nav-button {
    color: #d796ff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #36124d;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Hover effect */
.nav-button:hover {
    background-color: #7423a8;
}

.bottom-body{
    background-color:#36124d;
    height:700px;
    padding-right:200px;
    padding-bottom:200px;
    margin:75px;
}

/*////////////////////////NAV BAR CSS END////////////////////// */



/*////////////////////////INDEX.HTML CSS/////////////////////// */

.index-organizer {
    display: grid;
    grid-template-columns: 90px 120px auto;
}

.left-taskbar  {
    background-color: #c9f2ff
    padding: 20px;
}

.left-separation {
    background-color: black;

}

.right-main-page-body {
    grid-column: 2 / span 2;
    "https://cdn12.picryl.com/photo/2016/12/31/background-background-pattern-backgrounds-texture-backgrounds-textures-443038-1024.jpg"
}

